
.container{
    .row{
        
        
        .navbar {
            margin-bottom:0;
            i {
                padding : 0 4px 0 0;
            }

            .vl{
                  border-left: 1px solid #f0f0f0;
                  padding : 0 4px 0 0;
            }
        }
       
       
      
        .col-12{
           
            .buttons-body{
                padding :15px 0;

                .btn-layout{
                    margin:4px;

                }

                i{
                   padding: 0 4px 0 0;
                }
            }
            
        }

        hr {
            width:10%;
            background:#00BFFF;
            height: 2px;
            margin-top:0;
        }
        
    }

    .intro-layout{
        position:relative;
        }
     
        .image-body img {
            width:100%;
            height: 200px;
        }
        .intro-data{
            position: absolute;
            display:inline-block;
            top:0;
            left:0;
            color:white;
            text-align: center;
            font-size:12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
             align-items: center;
            width: 100%;
            height: 100%;
    
            li {
                display: inline;
                list-style-type: none;
                list-style: none;
            }
    
       }

}

.layout-body{

    padding-top:20px;
}


@media screen and (max-width: 480px) {
  [data-theme="dark"] body{background:red}
}


